
h1{
  color: #E1E0E2;
  font-size: 18px;
  font-weight: normal;
}
h6{
  color: gray;
}
.menu{
  height: 100vh;
  width: 17.5%;
  margin: auto;
  overflow: hidden;
  text-align: center;
  background-color: #1F1F1F;
  box-sizing: border-box;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

img{
  width: 150px;
  border-radius: 50%;
  margin-top: 20px;
}
.abt{
  margin-left: 17.5%;
  padding: 0px 0px;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  background-color: #f1f1f1;
  box-sizing: border-box;
  overflow: auto;
}
@media (max-width:1200px) {
  div.menu{
    visibility: hidden;
  }
  div.flex-container > div{
    width: 100%;
  }
  div.menu-container{
    visibility: visible;
  }
}
@media (min-width:1200px) {
  .foot{
    display: none;
  }
  div.menu-container{
    visibility: hidden;
  }
}
@media (min-width:1000px) {
  .container{
    max-width: none;
  }
}
@media (min-width:500px) {
  .container{
    max-width: none;
  }
}
.container{
  padding: 0px 0px;
}
@media (max-width:1200px){
  div.abt{
    margin-left: 0;
    height: inherit;
  }
  div.menu{
    width: 0px;
    padding: 0px 0px;
  }
}

.abt div.container{
  background-image: url("background.jpg");
  height: 260px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}
#text{
  font-size: 33px;
  font-weight: bold;
}


a{
  margin-right: 6px;
}





html,body { height: 100%;  margin: 0; background: #f1f1f1}

footer {
  height: 50px;
}


body {
  display: table;
  width: 100%;
}

footer {
   display: table-row;
}

.foot{
  margin: auto;
  overflow: hidden;
  text-align: center;
  background-color: #1F1F1F;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #f1f1f1;
  padding: 20px 0px;
}

.one{
  background-color: #f1f1f1;
  width: 25%;
  float: left;
  box-sizing: border-box;
}

.two{
  background-color: #f1f1f1;
  width: 75%;
  float: right;
  box-sizing: border-box;
}

#ptext{
  font-size: 15px;
  line-height: normal;
  text-align: justify;
  padding: 7px 25px;
  font-weight: normal;
}
#head{
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
}



.menu-container {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #1F1F1F;
  width: 55px;
  height: 55px;
  padding: 10px 10px;
  border-radius: 50%;
  padding-top: 17px;
  padding-left: 12px;
  transition: 0.3s;
  display: block;
  opacity: 0.5;
}

.bar1, .bar3 {
  width: 30px;
  height: 4px;
  background-color: #E0DFE1;
  margin: 6px 0;
}

div.menu-container:hover{
transform: scale(1.2);
opacity: 1;
}






.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
