
h1{
  color: #E1E0E2;
  font-size: 18px;
  font-weight: normal;
}
h6{
  color: gray;
}
.menu{
  height: 100vh;
  width: 17.5%;
  margin: auto;
  overflow: hidden;
  text-align: center;
  background-color: #1F1F1F;
  box-sizing: border-box;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

img{
  width: 150px;
  border-radius: 50%;
  margin-top: 20px;
}
.abt{
  margin-left: 17.5%;
  padding: 0px 0px;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  background-color: #f1f1f1;
  box-sizing: border-box;
  overflow: auto;
}
@media (max-width:1200px) {
  div.menu{
    visibility: hidden;
  }
  div.flex-container > div{
    width: 100%;
  }
}
@media (min-width:1200px) {
  .foot{
    display: none;
  }
}
@media (min-width:1000px) {
  .container{
    max-width: none;
  }
}
@media (min-width:500px) {
  .container{
    max-width: none;
  }
}
.container{
  padding: 0px 0px;
}
@media (max-width:1200px){
  div.abt{
    margin-left: 0;
    height: inherit;
  }
  div.menu{
    width: 0px;
    padding: 0px 0px;
  }
}

.abt div.container{
  background-image: url("background.jpg");
  height: 260px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}
#text{
  font-size: 37px;
  font-weight: bold;
}



.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
a{
  margin-right: 6px;
}





html,body { height: 100%;  margin: 0; background: #f1f1f1}

footer {
  height: 50px;
}


/**** Trick: ****/
body {
  display: table;
  width: 100%;
}

footer {
   display: table-row;
}

.foot{
  margin: auto;
  overflow: hidden;
  text-align: center;
  background-color: #1F1F1F;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #f1f1f1;
  padding: 20px 0px;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 50%;
  font-size: 30px;
}

#ptext{
  font-size: 15px;
  line-height: normal;
  text-align: justify;
  padding: 7px 25px;
  font-weight: normal;
}
#head{
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  padding: 0px 55px;
}
